<!DOCTYPE html>
{%extends 'base.html'%}

{%block body_block%}

<div class="container">
    <div class="row mt-5 p-1">
        <div class="col-4"></div>
        <div class="col-4">
            <form action="" method="post" class="form-control">
                {%csrf_token%}
                <table>
                    {{form.as_table}}
                </table>
                <input type="submit" name="Submit" class="btn-dark">
            </form>
        </div>
        <div class="col-4"></div>
    </div>
</div>
{%endblock%}