<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Multiplication</title>
</head>
<body>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Division</title>
      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

</head>
<body>

<div class="row m-5 align-items-center">
    <div class="col-4"></div>
    <div class="col-4 text-center">
        <form action="" method="post">
            {%csrf_token%}
            <h1>Division</h1>
        <input type="text" placeholder="First number" name="num1">
        <input type="text" placeholder="Second number" name="num2">
      <br>
        <button type="submit" class="btn-success m-3">Divide</button>
        </form>
    </div>
    <div class="text-center">
           {%if res%}
           <h1>Result =  {{res}}</h1>
        {%endif%}
     </div>

</div>

</body>
</html>
</body>
</html>